<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZWImagePickerController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18D27A7A1CABBA7900E7C68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D27A931CABBA7A00E7C68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18D27A9E1CABBA7A00E7C68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
